@page
@model RCL.Core.Identity.Enrollment.Pages.InstructionsModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-8">
        <div class="card shadow rounded">
            <div class="card-header">
                <h3>How to Complete your application</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <p><i class="bi bi-info-circle"></i> After you have applied for a Digital ID in the sign-up process, you will receive an email to complete these instructions.</p>
                </div>
                <h4>Submit Images</h4>
                <ul>
                    <li><strong>Image 1</strong>: Take a <strong>selfie</strong> with one form of photo ID (passport, ID card, driver's permit, etc.), ensure the photo in the ID is clearly visible and matches your face. </li>
                    <li><strong>Image 2</strong>: Take a photo (<i>selfie not required</i>) of one form of ID (passport, ID card, driver's permit, etc.) clearly showing your <i>Name</i> and <i>Date of Birth</i>. </li>
                    <li><strong>Image 3</strong>: Take a photo of your face (square image, min 600 x 600 px). </li>
                </ul>
                <h4>Send your images to us via email</h4>
                <ul>
                    <li>Send an email to your <i>Identity Approver</i> requesting a Digital ID with the <strong>3 images</strong> listed above as attachments to the email.</li>
                    <li>The email of your <i>Identity Approver</i> will be sent to you in the email you received when you applied for the Digital ID.</li>
                </ul>
                <h4>Processing time</h4>
                <ul>
                    <li>We will process your application within 10 working days.</li>
                    <li>When your application is approved, you will receive an email notification.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow rounded">
            <div class="card-header alert-success">
                <h4 class="text-center">Sample Selfie</h4>
            </div>
            <div class="card-body">
                <img class="img-fluid" src="~/images/selfie.jpg" />
            </div>
        </div>
    </div>

</div>
